<nav>
    <ul class="md:pl-4">
        <li class="{{coloration0.background}} pl-8 py-4 md:rounded-tl-full md:rounded-bl-full tracking-widest my-2 {{coloration0.hover}} transition">
            <a href="/" class="block w-full h-full">
                <i class="fi fi-home text-[#1190ea] mr-3 text-xl"></i> Accueil
            </a>
        </li>
        <li class="{{coloration1.background}} pl-8 py-4 md:rounded-tl-full md:rounded-bl-full tracking-widest my-2 {{coloration1.hover}} transition">
            <a href="/pages/trending.php" class="block w-full h-full">
                <i class="fi fi-line-chart text-[#1190ea] mr-3 text-xl"></i> Tendance
            </a>
        </li>
        <li class="{{coloration2.background}} pl-8 py-4 md:rounded-tl-full md:rounded-bl-full tracking-widest my-2 {{coloration2.hover}} transition">
            <a href="/pages/favorite.php" class="block w-full h-full">
                <i class="fi fi-star text-[#1190ea] mr-3 text-xl"></i> Favoris
            </a>
        </li>
    </ul>
</nav>
